<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>CartLog</title>

<!-- Bootstrap core CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"/>
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/non-responsive.css" rel="stylesheet" />

<!--data table-->
<link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet" />
<link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />

<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />

<link rel="icon" href="/image/favicon.ico" />
</head>

<body>
	<div th:fragment="navbar">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a style="padding-left: 20px; padding-right: 20px; font-weight: bold; font-size: 150%;" class="navbar-brand" th:href="@{/}">CartLog</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-top: 5px; padding-bottom: 5px;">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" style="color: #c9e2b3; padding-right: 20px; padding-top: 8px;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								BOOKS
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" th:href="@{/bookshelf}">Browse the bookshelf</a></li>
								<li><a class="dropdown-item" th:href="@{/aboutUs}">About Us</a></li>
								<li><a class="dropdown-item" th:href="@{/faq}">FAQ</a></li>
							</ul>
						</li>
						<form class="d-flex" th:action="@{/searchBook}" method="post">
							<input class="form-control me-2" type="text" name="keyword" placeholder="Book title" aria-label="Search"/>
							<button class="btn btn-outline-success" type="submit">Search</button>
						</form>

					</ul>
					<li class="nav-item d-flex" >
						<a class="nav-link" style="color: #c9e2b3;" th:href="@{/shoppingCart/cart}">SHOPPING CART</a>
					</li>
					<li class="nav-item d-flex" >
						<a class="nav-link" style="color: #c9e2b3;" sec:authorize="isAnonymous()" th:href="@{/login}">MY ACCOUNT</a>
					</li>
					<li class="nav-item d-flex" >
						<a class="nav-link" style="color: #c9e2b3;" sec:authorize="isAuthenticated()" th:href="@{/myProfile}">MY ACCOUNT</a>
					</li>
					<li class="nav-item d-flex" >
						<a class="nav-link" style="color: #c9e2b3;" sec:authorize="isAuthenticated()" th:href="@{/logout}">LOGOUT</a>
					</li>

				</div>
			</div>
		</nav>
	</div>

	<div th:fragment="footer" style="padding-bottom: 0px;">
		<br /> <br />
		<footer>
			<div class="container overflow-hidden" style="padding-top: 40px;">
				<div class="row gy-5">

					<div class="col-3">
						<div class="logofooter">
							<a th:href="@{/}"><img class="img-responsive" src="/image/capture1.jpg" style="width: 200px;" /></a>
						</div>
						<p style="color: #FFFFFF; font-size: 12px;">
							CartLog's Independent Book Store. <br />Serving our customers with the best.
						</p>
					</div>

					<div class="col-3">
						<h6 class="heading7">CONTACT</h6>
						<ul class="post">
							<p>
								<i class="fa fa-map-pin"></i> 123 XXX Scranton Road<br /> Pennsylvania, US
								02112
							</p>
							<p>
								<i class="fa fa-phone"></i> Phone (USA) : +1 147 257 177
							</p>
							<p>
								<i class="fa fa-envelope"></i> E-mail : info@cartlog-bookstore.com
							</p>
						</ul>
					</div>

					<div class="col-3">
						<h6 class="heading7">LINKS</h6>
						<ul class="footer-ul">
							<li><a href="#" style="color: #FFFFFF"> Privacy Policy</a></li>
							<li><a href="#" style="color: #FFFFFF"> Terms &#38; Conditions</a></li>
							<li><a th:href="@{/faq}" style="color: #FFFFFF"> Frequently Ask Questions</a></li>
						</ul>
					</div>

					<div class="col-3">
						<h6 class="heading7">STORE HOURS</h6>
						<div class="post">
							<p>Monday - Saturday: 8am - 10pm</p>
							<p>Sunday: 10am - 4pm</p>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<div style="background-color: #0f0f0f;" >
			<div class="row">
				<div class="col-6">
					<p style="color: #c9e2b3; padding: 5px 50px 5px 50px; ">© 2020 - All Rights Reserved</p>
				</div>
				<div class="col-6">
					<div style="padding-right: 50px;">
						<ul class="bottom_ul">
							<li><a th:href="@{/aboutUs}">About us</a></li>
							<li><a href="#">Blog</a></li>
							<li><a th:href="@{/faq}">Faq's</a></li>
							<li><a href="#">Contact us</a></li>
							<li><a href="#">Site Map</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div th:fragment="body-bottom-scripts">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>

		<script th:src="@{/js/scripts.js}"></script>

		<!--data table-->
		<script th:src="@{/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
	</div>
</body>
</html>