
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
<div th:replace="common/header :: navbar" />

<div class="container" style="text-align: center; vertical-align: middle;">
    <div style="padding-bottom: 20px;"></div>
    <h2 class="section-headline">
        <span>About Us</span>
    </h2>
    <div style="padding-bottom: 20px;"></div>
    <img src="/image/capture1.jpg" style="height: 200px;"/>
    <div style="padding-bottom: 20px;"></div>
    <img src="/image/launch.jpg" style="height: 100px;"/>
    <div style="padding-bottom: 20px;"></div>
    <h5 style="font-family: 'Open Sans', sans-serif; font-weight: bold;">Reading is like thinking, like praying, like talking to a friend, like <br/>
        expressing your ideas, like listening to other people’s ideas, <br/>
        like listening to music, like looking at the view, <br/>
        like taking a walk on the beach.</h5>
    <div style="padding-bottom: 20px;"></div>
    <h5 style="font-family: 'Times New Roman', Times, serif;">~~Order any kinds of books from our store online~~</h5>
    <div style="padding-bottom: 20px;"></div>
</div>
<!-- end of container -->
<div th:replace="common/header :: footer"/>

<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
